<footer>
    <div class="footer-container">
        
        <div class="footer-col brand-info">
            <h3>Teologando</h3>
            <p>Ortodoxia e Ortopraxia em Unidade.</p>
            <p>Contato: jefhtercabral@gmail.com</p>
        </div>

        <div class="footer-col quick-links">
            <h4>Navegue</h4>
            <ul>
                <li><a href="https://jefhter.github.io/teologando/">Início</a></li>
                <li><a href="https://jefhter.github.io/teologando/src/pages/about.html">Sobre</a></li>
                <li><a href="https://jefhter.github.io/teologando/src/pages/texts.html">Textos</a></li>
            </ul>
        </div>

        <div class="footer-col legal-social">
            <h4>Jurídico</h4>
            <ul>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>
            <div class="social-icons">
                </div>
        </div>
        
    </div>

    <div class="footer-copyright">
        <p>© 2025 Teologando. Todos os direitos reservados. | Desenvolvido por Jefhter R. Cabral</p>
    </div>
</footer>