<header>
    <div class="header-content">
        
        <a href="https://jefhter.github.io/teologando/" class="logo-link">
            <img src="../assets/imgs/logo.png" alt="Logo do site" class="logo">
            <h1>Teologando</h1>
        </a>

        <nav class="main-nav">
            <ul>
                <li><a href="https://jefhter.github.io/teologando/">Início</a></li>
                <li><a href="https://jefhter.github.io/teologando/src/pages/about.html">Sobre</a></li>
                <li><a href="https://jefhter.github.io/teologando/src/pages/texts.html">Textos</a></li>
            </ul>
        </nav>
        
    </div>
</header>