<header>
    <div class="header-content">
        
        <a href="../../index.html" class="logo-link">
            <img src="../../assets/imgs/logo.png" alt="Logo Teologando" class="logo">
            <h1>Teologando</h1>
        </a>

        <nav class="main-nav">
            <ul>
                <li><a href="../../index.html">Início</a></li>
                <li><a href="../../src/pages/about.html">Sobre</a></li>
                <li><a href="../../src/pages/texts.html">Textos</a></li>
            </ul>
        </nav>
        
    </div>
</header>