main {
    margin: 0% 5%;
    padding: 10% 20%;
    min-height: 700px;
}

#tabela-artigos {
    width: 100%;
}

tr {
    margin-bottom: 10px;
}

button.links-artigo {
  background: none;
  border: none;
  font-size: 25px;
  color: var(--color-accent);
  text-align: left;
  cursor: pointer;
  padding: 10px 10px 0px 10px;
}

button.links-artigo:hover {
  opacity: 0.7;
}

td.data {
    text-align: right;
}