footer {
    /* Cor escura que você escolheu */
    background-color: #4e3629; 
    /* Cor clara para o texto */
    color: #f1e9d5; 
    padding: 40px 0;
    font-size: 0.9em;
}

.footer-container {
    /* Define o Flexbox para organizar as colunas */
    display: flex;
    justify-content: space-between; /* Espaçamento entre as colunas */
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto;
    padding: 0 20px;
}

.footer-col {
    width: 30%; /* Define a largura das colunas */
    margin-bottom: 20px;
}

/* Estiliza os links */
footer a {
    color: #f1e9d5;
    text-decoration: none;
    line-height: 2;
}

/* Estiliza a barra de copyright */
.footer-copyright {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(241, 233, 213, 0.2); /* Linha sutil de separação */
}