:root {
    --color-background-light: #f1e9d5; /* COR Creme */
    --color-text-dark: #4e3629;       /* FUNDO Marrom-Escuro*/
    --color-accent: #6f4c3d;          /* Tom de destaque */
}

footer {
    background-color: var(--color-text-dark); 
    color: var(--color-background-light); 
    font-size: 1.2em;
}

.footer-container {
    margin: 0 10%;
    padding: 5%;
    text-align: center; 
}