:root {
    --color-background-light: #f1e9d5; /* Creme/Papel */
    --color-text-dark: #4e3629;       /* Marrom-Escuro (Links padrão) */
    --color-accent: #6f4c3d;          /* Tom de destaque (Marrom Suave para HOVER) */
}

@media (max-width: 768px) { 
    html, body {
        overflow-x: hidden;
        width: auto;
        height: auto;
    }

    h1.welcome-title {
        font-size: 8vw; 
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: center;
        line-height: 1.1;
        margin-top: 20px;
    }

    h2.indicador-ultimo-post {
        font-size: 28px; 
    }

    .latest-post.section-padding {
        margin-left: 0; 
        padding: 20px;
    }

    .summary-cards-grid {
        flex-direction: column; 
        gap: 20px;
        padding: 10px;
    }

    .summary-card {
        width: 100%;
    }

    .container {
        width: 90%;
        padding: 10px 0;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
        padding: 12px;
        white-space: normal;
        height: auto;
    }

    .container, .welcome-section, .latest-post.section-padding {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        width: 100% !important;
    }
}

header {
    background-color: var(--color-background-light);
    border-bottom: 1px solid var(--color-text-dark);
    padding: 2% 3%;
    max-width: auto;
}

.header-content {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4e3629; 
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li a {
    color: var(--color-text-dark); 
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease; 
}

.main-nav li a:hover,
.main-nav li a:focus {
    color: var(--color-accent); 
}

nav svg.bi-house {
    margin-top: 1px;
}