:root {
    --color-background-light: #f1e9d5; /* Fundo/Creme/Papel */
    --color-text-dark: #4e3629;       /* Marrom-Escuro */
    --color-accent: #6f4c3d;          /* Tom para links */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    font-family: 'Lato', sans-serif; 
    line-height: 1.6; 
    font-size: 1.1rem;
}

h1, h2, h3 {
    font-family: 'Georgia', serif; 
    color: var(--color-text-dark);
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-weight: bold;
}

h1.welcome-title {
  font-size: 60px;
}

h2.indicador-ultimo-post {
  font-size: 45px;
}

.container {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    align-items: center;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: var(--color-accent);
    text-decoration: none;
}

.welcome-section.section-padding {
    padding: 30px;
}   

.summary-cards-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 4%;
}

.summary-card {
    flex: 1; 
    padding: 30px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
    background-color: var(--color-background-light); 
}
.summary-card h3 {
    color: var(--color-text-dark);
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.summary-card a {
    font-weight: bold;
    color: var(--color-accent); 
}

.post-highlight-card {
    border-left: 5px solid var(--color-accent); 
    padding: 2%;
    background-color: var(--color-light-gray); 
    border-radius: 0 8px 8px 0;
}
.post-excerpt {
    font-style: italic;
    color: var(--color-secondary-text);
}
.all-posts-link {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
}

.latest-post.section-padding{
    margin-left: 60px;
}

button{
    background-color: var(--color-text-dark);
    color: var(--color-accent);
    border: none;
    padding: 6px 14px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-family: Georgia, serif;
}

button {
    color: var(--color-background-light);
    text-decoration: none;
    transition: color 0.3s ease;
}

button:hover {
    color: var(--color-accent);
    text-decoration: none;
}

button.link-artigo {
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
  color: var(--color-accent);
  text-align: left;
  cursor: pointer;
  margin-top: 10px;
}

button.link-artigo:hover {
  opacity: 0.7;
}

form.more-posts {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}